<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>voteDJ.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>0BB8B4C21F2A7B7600E89126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BB8B4D61F2A7B7700E89126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0BB8B4E11F2A7B7700E89126</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
